body {
  background-color: NavajoWhite;
  background-size: 100% 100%;
}

#myTitle {
  font-family: Kaushan Script, Times, serif;
  font-size: 60px;
  text-align: center;

}



footer {
  text-align: center;
}

a:link {
  color: #44749d;
}

a:hover {
  color: #8c2238;
  font-weight: bold;
}

a:active {
  color: #8c2238;
  text-decoration: none;
}
a:visited {
  color: Red;
}
